@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-roboto);
  --font-display: var(--font-playwrite_ie);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

:root {
  --background: oklch(0.94 0.015 75);
  --foreground: #0a0a0a;
  --color-primary: #E31837;
  --color-secondary: oklch(0.24 0.03 37);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #E31837;
    --color-secondary: oklch(0.24 0.03 37);
  }
}

body {
  color: var(--background);
  background-color: var(--background);
}